.footer-container {
    color: #fff;
    padding: 40px 0;
    background-color: #242424;
    font-family: 'Montserrat', sans-serif;
}

.footer-subscription {
    text-align: center;
    padding-bottom: 30px;
}

.footer-subscription-heading {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

.footer-subscription-text {
    padding: 10px 0;
    font-size: 15px;
}

.footer-input {
    border: none;
    width: 400px;
    outline: none;
    padding: 8px 20px;
    text-align: center;
    border-radius: 8px;
    font-family: inherit;
}

.footer-links {
    width: 100%;
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
}

.footer-link-wrapper, .footer-link-wrapper-two {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.footer-link-items {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.footer-link-items > h2 {
    font-size: 22px;
    padding-bottom: 10px;
}

.footer-link-items a {
    color: #fff;
    padding: 2px 0;
    cursor: pointer;
    text-decoration: none;
}

.footer-container a:hover {
    color: #b1b1b1;
    transition: 0.3s ease-out;
}

.footer-input::placeholder {
    color: #b1b1b1;
}

/* CONTACT TABLE */

.contact-table {
    line-height: 1.5;
}

.contact-table td {
    padding: 0 10px 10px 0;
}


/* SOCIAL MEDIA ICONS */

.social-icons {
    padding: 20px 0 0 0;
}

.social-icons a {
    padding: 0 20px 0 0;
    font-size: 22px;
}

.website-rights {
    font-size: 12px;
    text-align: center;
    padding: 30px 0;
    color: #b1b1b1;
}

.social-logo {
    color: #fff;
}

.footer-logo {
    text-align: center;
}




@media screen and (max-width: 960px) {

    .footer-links {
        width: 100%;
        display: block;
    }

    .footer-link-wrapper-two {
        padding: 30px 0 0px 50px;
    }

}


@media screen and (max-width: 650px) {
    
    .footer-link-items-four {
        padding-top: 30px;
    }

    
    .footer-link-wrapper {
        padding-bottom: 30px;
    }

    .footer-link-wrapper-two {
        display: block;
        padding: 0 0 30px 50px;
    }
}




.social-media-wrap {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 90%; */
    /* max-width: 1000px; */
    /* margin: 40px auto 0 auto; */
}

.social-icons {
    /* text-align: center; */
    /* width: 100%; */
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* width: 240px; */
}

.social-icons-link {
    /* color: #fff;
    padding: 0 20px;
    font-size: 22px; */
}

.social-logo {
    /* color: #fff; */
    /* justify-self: start; */
    /* margin-left: 20px; */
    /* cursor: pointer; */
    /* text-decoration: none; */
    /* font-size: 2rem; */
    /* display: flex; */
    /* align-self: center; */
    /* margin-bottom: 16px; */
}


